<table class="navbar" border="1">
            <tbody>
                <tr>
                    <th>
                        <a href="/">Home</a>
                    </th>
                    <th>
                        <a href="/department">DEPARTMENT</a> Interactions
                    </th>
                    <th>
                        <a href="/patient">PATIENT</a> Interactions
                    </th>
                    <th>
                        <a href="/branch">BRANCH</a> Interactions
                    </th>
                    <th>
                        <a href="/doctor">DOCTOR</a> Interactions
                    </th>
                    <th>
                        <a href="/doctor_branch">DOCTOR/BRANCH</a> Interactions
                    </th>
                    <th>
                        <a href="/doctor_department">DOCTOR/DEPARTMENT</a> Interactions
                    </th>
                </tr>
            </tbody>
        </table>
        <h1>Doctor/Department Relationship Interactions</h1>
        <h3>Add a new doctor/department relationship:</h3>
        <form id="adddoctor_department" action="/doctor_department" method="post">
            Doctor:
            <select name="DocId">
               {{#each doctors}}
               <option value="{{Id}}">{{DoctorName}}</option>
               {{/each}}
            </select>
            <br />
            Department:
            <select name="DepartId">
                {{#each departments}}
                <option value="{{Id}}">{{Department}}</option>
                {{/each}}
            </select>
            <br />
            <input value="Submit" type="submit" />
        </form>
        <br />
        <h3>Current doctor/department associations:</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                {{#each docdepartments}}
                <tr class="displayTableRow">
                    <td>{{Doctor}}</td>
                    <td>{{Department}}</td>
                    <td>
                        <button onclick="deleteDoctorDepartment({{DocId}},{{DepartId}})">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
